body{
    background-color: #c3d3e0;
    font-family: system-ui;
    margin: 0px;
    padding: 0px;
}
header {
    text-shadow: 1px 0px 25px #ffffff;
    background-color: #000000;
    color: #ffffff;
    margin: 0px;
    padding: 5px 0px;
    text-align: center;
}
#catalogo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
h2{
    color: #000000;
    font-size: 24px;
    margin: 0px;
    text-shadow: 1px 0px 1px #000000;
}
.Productos{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 10px;
}
.Producto{
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 200px;
    text-align: center;
    padding-bottom: 30px;
}
.Producto img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}
.Producto:hover{
    background-color: #f0f0f0;
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}
#encuesta h2{
    margin-top: 50px;
    text-align: center;
    margin-bottom: 18px; 
    letter-spacing: 1px;
}
.tarjeta-encuesta {
    max-width: 400px;
    margin: 0 auto;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    padding: 24px;
}
.tarjeta-encuesta textarea {
    width: 100%;
    border-radius: 6px;
    border: 1px solid #ccc;
    padding: 8px;
    resize: vertical;
}
.botoncito {
    display: flex;
    justify-content: center;
    margin-top: 12px;
}
.botoncito button {
    background: #6241ad;
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 8px 24px;
    cursor: pointer;
    font-size: 1em;
}
#citas h2 {
    text-align: center;
    margin-bottom: 18px; 
    letter-spacing: 1px;
}
.tarjeta-cita {
    max-width: 400px;
    margin: 0 auto;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    padding: 24px;
}
#citas label{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
#citas  legend{
    font-weight: bold;
    font-size: 1.2em;
}
.tarjeta-cita input{
    width: 90%;
    border-radius: 6px;
    border: 1px solid #ccc;
    padding: 8px;
    resize: vertical;
}
.tarjeta-cita button {
    background: #6241ad;
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 8px 24px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 12px;
}
#Carrito h2 {
    text-align: center;
    margin-bottom: 18px; 
    letter-spacing: 1px;
}
.tarjeta-carro {
    max-width: 400px;
    margin: 0px auto;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    padding: 24px;
}
.tarjeta-carro p{
    padding: 10px;
}
.tarjeta-carro ul {
    padding: 12px;
}
footer{
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 1px 0px;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 25px;
}