body{
    background-color: #c3d3e0;
    font-family: system-ui;
    margin: 0;

}
header {
    text-shadow: 1px 0px 1px #ffffff;
    background-color: #000000;
    text-decoration: none;
    color: #ffffff;
    padding-bottom: 5px;
    text-align: center;
}
#catalogo{
    background-color: #ffffff;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}